*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.App {
  font-family: 'Poppins', sans-serif;
}
#light{
  background-color: #fff;
}
#dark{
  background-color: #000;
}
#dark .Navbar {
  color: #fff;
  margin-top: 0;
  padding-top: 2rem;
}
#dark .nav-link{
  color: #fff;
}
label{
  margin-right: 1rem;
}
.logo{
  font-size: 1.5rem
}
.Navbar{
  display: flex;
  justify-content: space-between;
  align-content: center;
  text-align: center;
  margin: 2rem 1rem;
}
.nav-list{
  display: none;
  margin-left: 4rem;
}
.nav-link{
  list-style-type: none;
  margin-left:  2rem;
  margin-top: .5rem;
}
.link-nav:hover{
  color:#2351DC;
  text-transform: uppercase;
  font-weight: 600;
}

.link-nav{
  text-decoration: none;
  color: #000;
}


footer{
  background-color: 
  hsla(225, 73%, 10%, 1);
  text-align: center;
color: #fff;
padding: 5rem 2rem;
}
#dark footer{
  background-color: rgb(61, 60, 60);
}
#dark .testimonies-title {
background-color: rgb(61, 60, 60);
color: #fff;
}
#dark .contact-msg{
  background-color: rgb(61, 60, 60);
  margin-bottom: 1rem ;
}

.social{
  border: 1px solid #2351DC;
  border-radius:  50%;
  padding: .5rem;
  color: #2351DC;
  margin-left: 1rem;
}
#dark .social{
  border: 1px solid #fff;
  color: #fff;
}

.footer-icon{
  border-radius:  50%;
  padding: .5rem;
  color: #fff;
  margin: 1rem 1rem 1rem 0;
  border: 1px solid #fff;
  
}
.contact-get{
  padding: 2rem;
  width: 100%;
}

.Email{
  display: flex;
  padding: 1rem 0;
}
.contact-p{
  padding: 1rem 0;
}
.contact-msg{
  background-color: #2351DC;
  padding: 5rem;
  width: 100%;
}
.Email-p{
  color: #737373;
  font-size: 12px;
}
.contact-msg h3{
  color: rgba(255, 255, 255, 0.7);
}
.contact-msg h2{
  color: #fff;
}
input{
  background-color: none;
  width: 70%;
  padding: .5rem;
  margin: 1rem 0;
  border: 0.6px solid #FFFFFF
}
textarea{
  border: 0.6px solid #FFFFFF;
  width: 70%; 
  padding: .5rem;
}
.contact-btn{
  color: #2351DC;
  border: none;
  padding: .7rem 1.5rem;
  border-radius: 7px;
  background-color: #fff;
  margin-top: 1rem;
  font-weight: 900;
}
.envelope, .phone{
  margin: .5rem .5rem 0 0;
}

.recommendation-block img{
  width: 20%;
border-radius: 50%;

}
.recommendation-block{
align-content: center;
align-items: center;
margin: 2rem;
}
.recommendation-block p{
  font-size: 14px;
 
}
.testimonies-title{
  text-align: center;
}
.hi{
  color:#2351DC;
  font-weight: 300;
  text-transform: uppercase;
}
.introduction{
  font-weight: 700;
  color:#2351DC;
  font-size: 2rem;
}
.title{
  font-size: 2rem;
  font-weight: 800;
  line-height: 72px;
  padding-bottom: 1rem;
}
#dark .title, .about-intro, .skills, .project, .rec, .contact, .services{
  color: #fff;
}
.title, .about-intro, .skills, .project, .rec, .contact, .services{
  color: #000;
}

.intro{
  width: 100%;
  padding: 2rem 0.5rem;
}
.intro-flex{
   text-align: center;
   padding: 5rem 0;
}
.about-intro{
  text-align: center;
  padding: 5rem 2rem;
  background-color: #F6F8FE;
}
#dark .about-intro {
  background-color: rgb(61, 60, 60);
  
}
#dark .about-intro p{
  color: #fff;
}
.about-intro p{
  color: #4D4D4D;
}
.html-icon{
  color: #2351DC;
  background-color: #EDF1FC;
  padding: .5rem;
  border-radius: 5px;
}
.skill-logo{
  display: flex;
  align-content: center;
  align-items: center;
  margin: 2rem 0;
}

.skill-list li{
  list-style-type: none;
  margin-left: .5rem;
}
.skills{
  padding: 1.5rem;
}
.skills p{
  padding-bottom: 3rem;
  color:#737373;
}
.service-block p{
color: #4D4D4D;
}
.services{
  margin: 2rem;
}
.service-block{
  margin-top: 3rem;
}
.project{
  margin: 2rem;
}
.project-img img{
  margin: 2rem;

}

.img-project:hover  .lin{
  opacity: 1.0;
  justify-content: center;
  display: block
}
.lin{
  text-decoration: none;
  text-transform: uppercase;
  color:rgb(226, 7, 7);
  font-weight: 700;
  font-size: 1rem;
  align-items: center;
  text-align: center;
  display: none;
  position: absolute;
  bottom: 1px;
  font-style: italic;
  
  
}
.img-project{
  /* animation: wave  ease-in-out 0.5s infinite alternate;
  transform-origin: center -36px; */
  position: relative;

}
.img-project:hover{
  transition: opacity 1s ease-in-out;
  opacity: 0.7;
  background-color: #fff;
  animation-play-state: paused;
  border: 4px solid black;
  
}

@keyframes wave {
  0% { transform: rotate(10deg); }
  100% { transform: rotate(-10deg); }
}
.project-img img{
  width: 100%;
  margin: 2rem 0 0 0;
}
.testimonies-title{
  padding: 2rem 0;
}

@media screen and (min-width: 800px) {
  .contact{
    display: flex;
  }
  .contact-get{
    padding: 5rem;
  }
  .intro{
    padding: 2rem 5rem;
  }
  .Navbar{
    margin: 2rem 5rem;
  }
  .nav-list{
    display: flex;
  }
  .lin{
    font-size: 3rem;
  }
  .logo{
    font-size: 2rem;
  }
  .contact-p{
    width: 70%;
  }
  .testimonies{
    display: flex;
  }
  .testimonies-title{
    background-color: #2351DC;
    color: #fff;
    width: 564px;
    height: 700px;
    display: flex;
    align-content: center;
  }
  .testimonies-title h1{
    padding:10rem 5rem 5rem 0;
    line-height: 63px;
  }
  .rec{
    width: 60%;
    padding: 2rem 3rem;
  }
  .recommendation-block p{
    font-size: 14px;
    width: 100%;
  }
  .recommendation-block{
    text-align: center;
  }
 
  .recommendation{
    display: flex;
  }
 
  .title{
    font-size: 3rem;
  }
  .skills{
    padding: 5rem;
  }
  .service-page{
    display: flex;
 
  }
  .services{
    margin: 2rem 5rem;
  }
  .service-block{
    margin-right: 2rem;
    width: 33%
  }
  .project{
    margin: 2rem 5rem;
  }
  .project-img{
    display: flex;
  }
  .project-img img{
    width: 60%;
object-fit: cover;
    margin: 2rem;
    
  }
  .skill-list{
    display: flex;
    justify-content: space-around;
  }
  
  
}

